* {
  font-family: Arial;
}

body, html {
	background-color: #128682;
	width: 100%;
	height: 90%;
}

p {
	padding: 5px 5px 5px 5px;
}

h1 {
	text-align: center;
	width: 100%;
	height: 10%;
}

nav ul li {
	width: 16%;
	display:inline;
	background-color: #236563;
	border: 1px solid #065855;
	padding:9px 0px 9px 0px;
}

nav ul li a {
	padding:2px 2px 2px 2px;
	text-align: center;
	line-height:20px;
	color:#fff;
	font-size:1.2em;
	text-decoration:none;
	text-shadow:1px 1px 1px #000
	}

nav ul li a:hover {
	color:#44C3BE;
}

nav ul li.active a {
	color:#44C3BE
}

.formulario {
	padding: 2px 2px 2px 2px;
	border: 2px solid #065855;
	background-color: #236563;
}

label {
	padding: 2px 2px 2px 2px;	
}

fieldset {
	padding: 2px 2px 2px 2px;	
}

input {
	width: 100px;
}

.footer {
	position: relative;
    float: left;
}


